@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #e7ebea;
    padding: 5px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: #94b9b9ec;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.7rem;
    color: #646161;
    font-weight: 700;
}

.logo img {
    width: 250px;
    height: 250px;
    margin-left: 70px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 50px;
    padding-left: 50px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    justify-content: left;
    padding-left: 50px;
}

.article {
    margin-top: 1.6em;   
}


p {
    font-size: 1.6rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
    font-size: 1.5rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #424242;
}

h1 {
    color: #08298A;
    text-align: center;
    font-size: 2.2rem;
}

.footer {
    background-color: #98e6ec;
    flex: 0 0 auto;
}